* {
    margin: 0px; padding: 0px;
}
body {
  background:rgb(17,17,15);
}

@font-face {
    font-family: 'Showboat';
    src: url('fonts/Showboat.ttf');
}
@font-face {
    font-family: 'Cash Currency';
    src: url('fonts/Cash_Currency.ttf');
}
@font-face {
    font-family: 'Wacamoler';
    src: url('fonts/Wacamoler.ttf');
}
@font-face {
    font-family: 'Bellefair';
    src: url('fonts/Bellefair-Regular.ttf');
}
.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50px;
    z-index: -25;
}
.background img {
    max-width: 100%;
    max-height: auto;
}
#wrapper, #navBar, #header, #content, #footer {
    width: 100%;
}
span.anchor {
    display: block;
    height: 50px;
}
#topAnchor {
    height: 110px !important;
}
#footer {
    height: 250px;
    background:rgba(0,0,0,0.75);
    position: relative;
    z-index: 35;
}
  .footer_tag {
    padding: 75px;
    font-family: "Bellefair";
    font-size: 15px;
    color: #999;
    text-align: center;
  }
    .footer_name {
    }
    .footer_address a, visited {
      color: #fff;
      text-decoration: none;
    }
    .footer_number a, visited {
      color: #999;
      text-decoration: none;
    }
