#header {
    position: relative;
    height: 100vh;
    z-index: 55;
}
    /*
    #logo_Container {
        height: 350px;
        width: 350px;
        background: #000;
        border-radius: 50%;
        padding: 30px;
        border: 2px solid #fff;
        box-shadow: 0px 0px 5px #fff;
    }
    */
    #logo_Container img {
        -webkit-filter: brightness(102%);
        filter: brightness(102%);
    }
        .logo {
            pointer-events: none;
            animation: 1.5s panIn ease;
            height: 288px;
            width: 288px;
            /**
                animation-delay: 2s;
                opacity: 0;
            **/
        }
        .contact {
            font-family: 'Stoke', serif;
            font-size: 13pt;
            color: #ffffff;
            width: 225px;
            height: auto;
            margin: auto;
            line-height: 20px;
        }
        .bookAppt a, .contact, a:hover, visited {
            text-decoration: none;
            color: #fff;
        }

        .bookAppt {
            font-family: 'Cash Currency';
            font-size: 45pt;
            text-align: center;
            background:rgba(0,0,0,0);
            padding: 10px;
            width: auto;
            border-radius: 15px;
            margin: auto;
            display: block;
            transition: all 0.5s;
        }
        .bookAppt:hover {
            /* background:rgba(0,0,0,0.5);
            box-shadow: 0px 0px 15px #fff;
            transform:scale(1.15); */
        }
        .bookAppt a:hover {
            text-decoration: none;
        }


@-webkit-keyframes fadeIn {
    0%{opacity: 0.0;}
    100%{opacity: 1.0;}
}
@keyframes fadeIn {
    0%{opacity: 0.0;}
    100%{opacity: 1.0;}
}
@keyframes panIn {
    0%{margin-top: -500px}
    100%{margin-top: 0px}
}

@media screen and (max-height: 850px) {
    #header {
        height: 815px;
    }
}

@media screen and (max-height: 800px) {
    #header {
        height: 789px;
    }
    #logo_Container {
        height: 300px;
        width: 300px;
    }
    .logo {
        height: 238px;
        width: 239px;
    }
}

@media screen and (max-height: 750px) {
    #header {
        height: 100vh;
    }
}

@media screen and (max-height: 650px) {
    #header {
        height: 650px;
    }
    #logo_Container {
        height: 200px;
        width: 200px;
    }
    .logo {
        height: 188px;
        width: 188px;
    }
}
@media screen and (max-height: 400px) {
    #header {
        height: 100%;
    }
}
