
#top_bar {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 155;
    box-shadow: 2px 0px 10px #000;
    background:rgba(43,40,35,1);
    /* background:rgba(79,61,44,1); */
}

    .number {
      font-family: 'Cash Currency';
      letter-spacing: 2px;
      color: white;
      padding: 5px 100px;
      float: right;
    }

    .number_mobile {
      width: 50px;
      height: 50px;
      background:rgba(10,10,10,.75);
      position: fixed;
    }

    #day {
      position: fixed;
      color: white;
      font-family: 'Cash Currency';
    }

    .titleLogo {
        position: fixed;
        font-family: 'Wacamoler';
        color: #fff;
        width: 100%;
        /*
        font-family: 'Playfair Display', serif;
        transition: transform 0.5s;
        */
        font-size: 25pt;
        text-align: center;
        text-decoration: none;
        padding: 0px;
    }
    /*
    .titleLogo:hover {
        transform:scale(1.15);
    }
    */
    .titleLogo img {
        margin-bottom: 0px;
    }
    a:hover > .titleLogo {
        text-decoration: none;
        color: #fff;
    }

#nav {
    height: auto;
    width: auto;

}
#nav ul li {
    list-style-type: none;
    width: 650px;
    text-align: center;
    display: block;
    height: auto;
    transition: all 0.5s;
    background:rgba(0,0,0,0);
    margin-left: auto;
    margin-right: auto;
}
#nav ul li:hover {
    background:rgba(0,0,0,0.5);
    text-shadow: 8px 8px 10px #000;
}
#nav ul li a, visited {
    text-decoration: none;
    display: block;
    font-family: 'Cash Currency';
    transition: all 0.5s;
    font-size: 35pt;
    color: #fff;
    height: 100%;
    padding: 7px;
}

#nav ul li a:hover {
  color: #FFD700;
}

@media screen and (max-width: 900px) {
  #nav ul li {
    width: 250px;
  }

  #nav ul li a, visited {
    font-size: 20px;
  }
}

@media screen and (max-width: 750px) {
    .titleLogo {
        margin-left: 10px;
        font-size: 20pt;
    }

    #nav ul li {
      width: 250px;
    }

    #nav ul li a, visited {
      font-size: 25px;
    }
}

@media screen and (max-width: 700px) {
  .number {
    visibility: hidden;
  }

  .number_mobile {
    visibility: visible;
  }
}

@media screen and (max-width: 400px) {
  .number {
    visibility: hidden;
  }

  .number_mobile {
    visibility: visible;
  }
}
