.quote {
  position: relative;
  color: #fff;
  font-family: 'Montserrat Italic';
  font-size: 15pt;
  text-align: center;
  margin: 0 auto;
  padding: 50px;
  width: 50%;
}

@media screen and (max-width: 650px) {
  .quote {
    font-size: 12pt;
    padding: 20px;
    width: 70%;
  }
}
