.bgWrapper {
    width: 100vw;
    height: 100vh;
    z-index: -25;
    position: fixed;
}
.bgChild:nth-child(1) {
    width: 7vw;
    height: 100%;
    background: #000;
    float:left;
    z-index: 45;
}
.bgChild:nth-child(2) {
    width: 85vw;
    height: 100vh;
    float:left;
    z-index: -25;
}
.bgChild:nth-child(3) {
    width: 8vw;
    height: 100vh;
    background: #000;
    float:left;
    z-index: 45;
}
.bgImg {
    width: 100%;
    height: 100%;
}