#content {
    height: auto;
    width: 100%;
    background:rgba(43,40,35,1);
    position: relative;
    z-index: 55;
    margin: auto;
    border-top: 5px solid #2b2b2b;
    box-shadow: inset 0 0 10px #000;
}
#contentBackground {
    height: auto;
    width: auto;
    background:rgba(0,0,0,0.75);
}
.sections {
  height: auto;
  width: 100%;
  position: relative;
  color: #fff;
}
article {
  height: auto;
  width: 100%;
  text-align: center;
}
  article h3 {
    font-size: 36pt;
    font-weight: 400;
    font-family: 'ChopinScript';
  }
  article h4 {
    font-family: 'Cash Currency';
    font-size: 21pt;
  }
  .underline {
      margin: 0;
      padding-bottom: 20px;
  }

        #scroller {
          width: 100%;
          height: auto;
          margin: 0 auto;
          position: relative;
        }
            #scroller .innerScrollArea {
                width: 100%;
                height: auto;
                position: relative;;
            }
              #scroller ul {
                  z-index: 155;
                  width: auto;
                  height: auto;
                  padding: 0;
                  margin: 0;
                  position: relative;
              }
                #scroller li {
                  padding: 15px;
                  margin: 0;
                  list-style-type: none;
                  position: relative;
                  display: inline-block;
                }
                  #scroller li .img-container {
                      overflow: hidden;
                      height: auto;
                      width: auto;
                      transition: all 0.15s ease-in;
                  }
                    #scroller li .img-container:hover {
                      box-shadow: 0px 0px 10px #FFD700;
                    }
                    #scroller li .img-container img.barber_gallery {
                        width: 250px;
                        height: 200px;
                    }
                    #scroller li .img-container img.site_gallery {
                        width: 300px;
                        height: 250px;
                    }
                  #scroller li p {
                    padding: 5px;
                    font-family: 'Cash Currency';
                    font-size: 15pt;
                  }

            .serviceHeader {
                max-width: 50%;
                height: auto;
            }

            .price_list {
              max-width: 50%;
              max-height: 50%;
            }

            .cutWrapper {
                margin: auto;
                width: 100%;
            }

            .promos {
              width: 100%;
              margin: 0 auto;
              height: auto;
            }
            .promo {
              width: 250px;
              position: relative;
              background: #0F1012;
              color: #f9f9f9;
              display: inline-block;
            }

            .deal {
              padding: 10px 0 0 0;
            }
            .deal img {
              margin-left: auto;
              margin-right: auto;
            }
            .deal span {
              display: block;
              text-align: center;
            }
            
            .promo .motto {
              font-family: 'Bellefair';
              display: block;
              width: 250px;
              background: #292b2e;
              margin: 15px 0 10px 0;
              text-align: center;
              font-size: 16px;
              padding: 17px 0 17px 0;
            }
            .promos ul {
              display: block;
              margin: 20px 0 10px 0;
              padding: 0;
              list-style-type: none;
              text-align: center;
              color: #fff;
            }
            .promos li {
              display: block;
              /* margin: 10px 0 0 0; */
              padding: 10px;
              text-align: left;
              font-family: 'Bellefair';
            }
            .scale {
              transform: scale(1.05);
              box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
            }
            .scale .price {
              color: #64AAA4;
            }

@media screen and (max-width: 1300px) {
    .underline {
      max-width: 50%;
      max-height: 50%;
    }
}

@media screen and (max-width: 1000px) {
    #info {
        height: 55px !important;
    }
}

@media screen and (max-width: 650px) {
    .price_list {
      max-width: 75%;
      max-height: 75%;
    }
}

@media screen and (max-width: 350px) {
  #scroller li .img-container img.site_gallery {
      width: 250px;
      height: 200px;
  }
}
