* {
    margin: 0px; padding: 0px;
}
html {
  background:rgba(0, 0, 0, 1);
}
@font-face {
    font-family: 'Cash Currency';
    src: url('/fonts/Cash_Currency.ttf');
}
@font-face {
    font-family: 'Wacamoler';
    src: url('/fonts/Wacamoler.ttf');
}
@font-face {
    font-family: 'Bellefair';
    src: url('/fonts/Bellefair-Regular.ttf');
}
@font-face {
    font-family: 'ChopinScript';
    src: url('../fonts/ChopinScript.ttf');
}
.index_wrapper {
    background:url("/GFX/gallery/lic/lic (41).jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.lic_wrapper {
    background:url("/GFX/gallery/lic/lic (51).jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.bayside_wrapper {
    background:url("/GFX/gallery/bayside/Bayside (1).jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
#wrapper, #navBar, #header, #content, #footer {
    width: 100%;
}
#topAnchor {
    height: 65px !important;
}
span.anchor {
    display: block;
    height: 50px !important;
}
#footer {
    height: auto;
    background:rgba(0,0,0,0.75);
    position: relative;
    z-index: 35;
}
  .footer_tag {
    padding: 25px;
    font-family: "Bellefair";
    font-size: 15px;
    color: #999;
    text-align: center;
  }
    .footer_name {
    }
    .footer_address a, visited {
      color: #fff;
      text-decoration: none;
    }
    .footer_number a, visited {
      color: #999;
      text-decoration: none;
    }
