* {
    margin: 0px; padding: 0px;
}
html {
  background:rgba(0, 0, 0, 1);
  scroll-behavior: smooth;
}
@font-face {
    font-family: 'Cash Currency';
    src: url('../fonts/Cash_Currency.ttf');
}
@font-face {
    font-family: 'Wacamoler';
    src: url('../fonts/Wacamoler.ttf');
}
@font-face {
    font-family: 'Bellefair';
    src: url('../fonts/Bellefair-Regular.ttf');
}
@font-face {
    font-family: 'ChopinScript';
    src: url('../fonts/ChopinScript.ttf');
}
@font-face {
    font-family: 'UndergroundNF';
    src: url('../fonts/UndergroundNF.ttf');
}
@font-face {
    font-family: 'BeachmanScript';
    src: url('../fonts/BeachmanScript.ttf');
}
@font-face {
    font-family: 'LibelSuit';
    src: url('../fonts/libel-suit-rg.ttf');
}
/*
.bg_wrapper {
  width: vw;
  height: vh;
  position: fixed;
  z-index: -455;
  border: 1px solid red;
}
  .bg_wrapper .bg_container {
    overflow: hidden;
  }
    .bg_wrapper .bg_container.bg img{
      max-width: 100%;
      max-height: 100%;
    }
*/

body {
  background-image: url(current_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
}

#wrapper, #header, #content, #footer {
    width: 100%;
}

.pop_class {
  padding-top: 50px;
  display: "block";
  width: 100vw;
  height: 100vh;
  position: fixed;
  background:rgba(0,0,0,0.75);
  z-index: 555;
  animation-name: pop_up_animation;
  animation-duration: 1s;
}
  .pop_img_figure {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
    .pop_img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 55%;
      width: 55%;
    }
  .pop_class button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 250px;
    padding: 5px;
    border: none;
    background: none;
    font-family: 'BeachmanScript';
    text-align: center;
    font-size: 28pt;
    border-radius: 15px;
    transition: 0.25s all ease-out;
  }
    .pop_class button:hover {
      background:rgba(24,75,141,0.5);
    }
    .pop_class button a,visited {
      color: #fff;
      text-decoration: none;
    }
@keyframes pop_up_animation {
  from {opacity: 0;}
  to {opacity: 1;}
}

#topAnchor {
    height: 64px !important;
}
span.anchor {
    display: block;
    height: 60px !important;
}
#footer {
    height: 220px;
    background:rgba(0,0,0,0.75);
    position: relative;
    z-index: 35;
}
  .footer_tag {
    padding: 50px;
    font-family: "Bellefair";
    font-size: 18pt;
    color: #999;
    text-align: center;
  }
    .footer_address a, visited {
      color: #fff;
      text-decoration: none;
    }
    .footer_number a, visited {
      color: #999;
      text-decoration: none;
    }

@media screen and (max-width: 1000px) {
  .index_wrapper .bg img{
    width: 120%;
    height: 100%;
    margin: -50px;
  }
  .pop_img {
    margin-left: -20px;
    height: 125%;
    width: 125%;
  }
}
