* {
    margin: 0px; padding: 0px;
}
html {
  background:rgba(0, 0, 0, 1);
}
@font-face {
    font-family: 'Cash Currency';
    src: url('../fonts/Cash_Currency.ttf');
}
@font-face {
    font-family: 'Wacamoler';
    src: url('../fonts/Wacamoler.ttf');
}
@font-face {
    font-family: 'Bellefair';
    src: url('../fonts/Bellefair-Regular.ttf');
}
@font-face {
    font-family: 'ChopinScript';
    src: url('../fonts/ChopinScript.ttf');
}
@font-face {
    font-family: 'UndergroundNF';
    src: url('../fonts/UndergroundNF.ttf');
}
@font-face {
    font-family: 'BeachmanScript';
    src: url('../fonts/BeachmanScript.ttf');
}
.index_wrapper .bg img{
  position: fixed;
  width: 100%;
  height: auto;
  z-index: -455;
}
@media screen and (max-width: 1000px) {
  .index_wrapper .bg img{
    width: 120%;
    height: 100%;
    margin: -50px;
  }
}
/*
.index_wrapper {
    background:url("/GFX/gallery/lic/lic (41).jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.lic_wrapper {
    background:url("/GFX/gallery/lic/lic (41).jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.bayside_wrapper {
    background:url("/GFX/gallery/bayside/Bayside (3).jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
*/
#wrapper, #header, #content, #footer {
    width: 100%;
}

.pop_class {
  padding-top: 50px;
  display: "block";
  width: 100vw;
  height: 100vh;
  position: fixed;
  background:rgba(0,0,0,0.75);
  z-index: 555;
  animation-name: pop_up_animation;
  animation-duration: 1s;
}
  .pop_img_figure {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
    .pop_img {
      height: 100%;
      width: 100%;
    }
  .pop_class button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px;
    border: none;
    background: none;
    font-family: 'BeachmanScript';
    text-align: center;
    font-size: 28pt;
    color: #fff;
  }
@keyframes pop_up_animation {
  from {opacity: 0;}
  to {opacity: 1;}
}

#topAnchor {
    height: 64px !important;
}
span.anchor {
    display: block;
    height: 60px !important;
}
p {
  font-family: "Bellefair";
}
#footer {
    height: 220px;
    background:rgba(0,0,0,0.75);
    position: relative;
    z-index: 35;
}
  .footer_tag {
    padding: 75px;
    font-family: "Bellefair";
    font-size: 15px;
    color: #999;
    text-align: center;
  }
    .footer_address a, visited {
      color: #fff;
      text-decoration: none;
    }
    .footer_number a, visited {
      color: #999;
      text-decoration: none;
    }
