@font-face {
    font-family: 'UndergroundNF';
    src: url('../fonts/UndergroundNF.ttf');
}
@font-face {
    font-family: 'BeachmanScript';
    src: url('../fonts/BeachmanScript.ttf');
}

/* TOP NAVBAR */
.nav {
  list-style-type: none;
  background:rgba(43,40,35,1);
  box-shadow: 2px 0px 10px #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 64px;
  overflow: hidden;
  position: fixed;
  z-index: 125;
  font-size: 18pt;
  font-family: 'ChopinScript';
}
  .nav li {
    color: #fff;
  }
  .nav li:nth-child(2), .nav li:nth-child(3) {
    float: left;
    padding: 14px 16px;
  }
  .nav li:nth-child(4), .nav li:nth-child(5), .nav li:nth-child(6) {
    float: right;
  }
    .nav li:hover .dropnav1 {
      display: block;
    }
    .dropnav1, .dropnav2 {
      display: none;
      position: fixed;
      font-family: "Cash Currency";
      font-size: 14pt;
      list-style-type: none;
    }
      .dropnav1 li:nth-child(1), .dropnav2 li:nth-child(1) {
        border-top: 3px solid grey;
      }
      .dropnav1 li:nth-child(1), .dropnav1 li:nth-child(2), .dropnav2 li:nth-child(1), .dropnav2 li:nth-child(2) {
        padding: 0px;
        background:rgba(43,40,35,0.8);
        margin: 0px;
      }

    .nav li button {
      display: none;
      float: left;
      padding: 14px 16px;
      text-decoration: none;
      border: none;
      background:rgba(0, 0, 0, 0);
      color: white;
      text-align: center;
      cursor: pointer;
      font-size: 18pt;
    }
    .nav li img {
      width: 40px;
      height: 32px;
    }
  .nav a,visited {
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
    display: block;
    transition: 0.15s all ease-in;
  }
    .nav a:hover {
      color: #FFD700;
      background:rgba(0,0,0,0.25);
    }

/* SIDE NAVBAR */
.side_nav {
  position: fixed;
  width: auto;
  background:rgba(43,40,35,0.95);
  height: 100%;
  z-index: 155;
  font-family: 'ChopinScript'
}
  .side_nav li {
    text-align: left;
    font-size: 16pt;
    color: #fff;
  }
    .side_nav li:hover .dropnav2 {
      display: inline-block;
    }
  .side_nav button {
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    background:rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    cursor: pointer;
  }
    .side_nav a,visited {
      text-decoration: none;
      color: #fff;
      padding: 14px 16px;
      display: block;
      transition: 0.25s all ease-in;
    }
    .side_nav a:hover {
      color: #FFD700;
      background:rgba(0,0,0,1);
    }

/* LIC and Bayside nav */
.header {
  background:rgba(0,0,0,0.25);
}

.location_options {
  width: 50%;
  height: auto;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 150px;
  overflow: hidden;
}
  .location_options li {
    text-align: center;
  }
    .location_options li:nth-child(1) {
      float: left;
    }
    .location_options li:nth-child(2) {
      float: right;
    }

    .location_options li p {
      padding: 10px;
      font-size: 20pt;
      font-family: 'Wacamoler';
    }
    .location_options li a,visited {
      background:rgba(0, 0, 0, 0.65);
      text-decoration: none;
      color: #fff;
      display: block;
      transition: 0.25s all ease-in;
    }
    .location_options li a:hover {
        color: #FFD700;
        background:rgba(0, 0, 0, 1);
        text-shadow: 2px 2px 15px #FFD700;
    }
        .location_options li a:hover #lic_logo {
          transform: rotate(180deg);
        }
    .location_options li h3 {
      color: #fff;
      padding-top: 20px;
      font-size: 24pt;
      font-family: 'UndergroundNF';
    }

  .location_options img {
    width: 250px;
    height: 250px;
  }

    /* ABOUT SECTION */
    #about {
        overflow: hidden;
        font-family: 'Bellefair';
        height: auto;
        width: 100%;
        padding-bottom: 50px;
    }
      .aboutWrapper {
        width: 100%;
        height: auto;
      }
        .aboutContent:nth-child(odd) {
          width: 25%;
          float:left;
          padding-top: 5%;
        }
        .aboutContent:nth-child(even) {
          width: 50%;
          float:left;
        }
          .about_description {
           font-size: 15pt;
           width: auto;
           padding-left: 5px;
           align-items: center;
          }
         .socialIcons {
           width: 25%;
           position: absolute;
         }
         .socialIcons img {
           margin: 0 auto;
           transition: all 0.25s;
         }
         .socialIcons img:hover {
             transform:scale(1.25);
         }
         .socialIcons a, visited {
             text-decoration: none;
         }
         .socialIcons a:hover {
             text-decoration: none;
         }

         /* aboutContent 2 */
         .about_image {
             max-height: 90%;
             max-width: 90%;
             border-radius: 15%;
         }

         /* aboutContent 3 */
          .hour_wrap {
            font-size: 19px;
            line-height: 20px;
            font-weight: 400;
            color: #fff;
            margin: 0 auto;
            padding: 10px;
            max-width: 400px;
          }
          .hour_table {
            margin: 0;
            width: 100%;
            /* box-shadow: -8px 8px 10px rgba(0,0,0,.2); */
            display: table;
          }
          .hour_row {
            display: table-row;
            /* background: #f6f6f6; */
          }
          .hour_row:nth-of-type(odd) {
            /* background: #e9e9e9; */
          }
          .hour_header {
            font-size: 25px;
            padding: 15px;
            font-family: 'UndergroundNF';
            color: #fff;
            /*  background: #E7C192; */
          }
          .cell {
            padding: 6px 12px;
            display: table-cell;
          }
          .status {
            font-size: 28pt;
            font-family: 'BeachmanScript';
            padding: 3px;
          }

@media screen and (max-width: 1000px) {
    .nav li button {
      display: block;
    }
    .nav li:nth-child(3) {
      float: right;
    }
    .nav li:nth-child(2), .nav li:nth-child(4), .nav li:nth-child(5),  .nav li:nth-child(6)  {
      display: none;
    }
    .side_nav {
      display: none;
    }
    .location_options {
      width: 100%;
      padding: 0px;
      overflow: hidden;
    }
    .location_options li:nth-child(1) {
      float: none;
      padding-bottom: 20px;
    }
    .location_options li:nth-child(2) {
      float: none;
    }
    .aboutContent:nth-child(1) {
        width: 100%;
        float:none;
        padding-bottom: 10px;
    }
    .aboutContent:nth-child(2) {
        width: 100%;
        float: none;
    }
    .aboutContent:nth-child(3) {
        width: 100%;
        float:none;
        padding-top: 10px;
    }
      .socialIcons {
          width: 75%;
          bottom: initial;
          left: 0;
          position: relative;
          margin: auto;
      }
}
@media screen and (max-width: 965px) {
    .about_description {
      padding-left: 0px;
    }
}
