/* Header with LIC Logo */
#header {
    position: relative;
    height: 100vh;
    z-index: 55;
    background:rgba(0,0,0,0.2);
}

  .header_items {
    width: 75%;
    height: auto;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    overflow: hidden;
  }
    .header_items li {
      text-align: center;
    }
      .header_items li:nth-child(1) {
        float: none;
      }
      .header_items li:nth-child(2) {
        float: none;
      }
      .header_items #lic_button a,visited {
        background:rgba(0, 0, 0, 0.65);
        text-decoration: none;
        color: #fff;
        display: inline-flex;
        transition: 0.25s all ease-in;
      }
        .header_items #lic_button a:hover {
            color: #FFD700;
            background:rgba(0, 0, 0, 1);
            text-shadow: 2px 2px 15px #FFD700;
        }
        .header_items li p {
          padding: 10px 20px;
          font-size: 20pt;
          font-family: 'Wacamoler';
        }

      .header_items figure {
        width: auto;
        height: auto;
      }
        .lic_logo {
          width: 250px;
          height: 250px;
        }
      .header_info {
        color: #fff;
        font-family: 'Bellefair';
        font-size: 16pt;
        padding: 10px;
        text-align: center;
      }

        .header_address a, visited,
        .number a, visited
        { transition: all 0.5s; }
        .header_address a:hover, visited,
        .number a:hover, visited
        { color: #FFD700;}

        .header_address a, visited {
          text-decoration: none;
          color: #fff;
          padding-bottom: 5px;
        }
        .number a, visited {
          letter-spacing: 1px;
          text-decoration: none;
          margin: 0 auto;
          color: #fff;
        }

      .insta_gallery {
        overflow: hidden;
      }
        .insta_gallery figure {
          width: 200px;
          height: 200px;
          padding: 10px;
          overflow: hidden;
          display: inline-flex;
        }
          .insta_gallery figure a img {
            height: 100%;
            width: 100%;
          }

@media screen and (max-width: 1000px) {
    .header_items {
      width: 100%;
      padding: 50px 0 0 0;
      overflow: hidden;
    }
    .header_items li:nth-child(1) {
      float: none;
      padding-bottom: 20px;
    }
    .header_items li:nth-child(2) {
      float: none;
    }
      .lic_logo {
          height: 175px;
          width: 175px;
      }
      .moving {
        width: 300px; height: 160px;
      }
      .header_info {
        font-size: 12pt;
      }
}
