#header {
    position: relative;
    height: 100vh;
    z-index: 55;
    background:rgba(0,0,0,0.2);
}
  #logo_Container {
    height: 200px;
    width: 200px;
  }
    .logo {
      pointer-events: none;
      animation: 1.5s panIn ease;
      height: 200px;
      width: 200px;
    }
    .header_info {
      color: #fff;
      font-family: 'Bellefair';
      font-size: 25px;
      padding: 10px;
      text-align: center;
    }

    .header_address a, visited,
    .number a, visited
    { transition: all 0.5s; }
    .header_address a:hover, visited,
    .number a:hover, visited
    { color: #FFD700;}

    .header_address a, visited {
      text-decoration: none;
      color: #fff;
      padding-bottom: 5px;
    }
    .number a, visited {
      letter-spacing: 1px;
      text-decoration: none;
      margin: 0 auto;
      color: #fff;
    }

@-webkit-keyframes fadeIn {
    0%{opacity: 0.0;}
    100%{opacity: 1.0;}
}
@keyframes fadeIn {
    0%{opacity: 0.0;}
    100%{opacity: 1.0;}
}
@keyframes panIn {
    0%{margin-top: -500px}
    100%{margin-top: 0px}
}

@media screen and (max-height: 750px) {
    #logo_Container {
        height: 175px;
        width: 175px;
    }
    .logo {
        height: 175px;
        width: 175px;
    }
    .header_info {
      font-size: 12pt;
    }
}
