/* Top banner of main tonsorial pages */
.top_bar {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 155;
    box-shadow: 2px 0px 10px #000;
/*  background:rgba(43,40,35,1);  soft brown
    background:rgba(79,61,44,1); */
}
  .lic_topbar {
    background:rgba(43,40,35,0.8);
  }
  .bayside_topbar {
    background:rgba(192,169,128,0.8);
  }
    .navbar_wrapper {
      font-family: 'ChopinScript';
      width: auto;
      font-size: 25pt;
      font-weight: 800;
      text-align: center;
      margin: 0 auto;
    }
    .titleLogo a, visit {
      text-decoration: none;
      color: #fff;
    }
    .titleLogo img {
      width: 45px;
      height: 37px;
    }

/* Navigation in Header */
#nav {
    height: auto;
    width: auto;
}
  #nav ul li {
      list-style-type: none;
      width: 400px;
      text-align: center;
      display: block;
      height: auto;
      transition: all 0.25s ease-in-out;
      background:rgba(0,0,0,0);
      margin-left: auto;
      margin-right: auto;
  }
    #nav ul li:hover {
        background:rgba(0,0,0,0.75);
    }
  #nav ul li a, visited {
      text-decoration: none;
      display: block;
      font-family: 'ChopinScript';
      transition: all 0.25s ease-in-out;
      font-size: 25pt;
      color: #fff;
      height: 100%;
      padding: 15px;
  }
    #nav ul li a:hover {
      color: #FFD700;
      text-shadow: 3px 3px 10px #FFD700;
    }

@media screen and (max-width: 900px) {
  #nav ul li {
    width: 250px;
  }

  #nav ul li a, visited {
    font-size: 25px;
  }
  .titleLogo img {
    max-width: 45px;
    max-height: 38px;
  }
}

@media screen and (max-width: 750px) {
    .titleLogo {
        margin-left: 10px;
        font-size: 20pt;
    }
}
