.imgTextOverlay {
    font-size: 15pt;
    font-family: 'Vollkorn', serif;
    background:rgba(0,0,0,0.6);
    height: 40px;
    padding: 20px;
    -webkit-transition: font-size 0.55s ease;
    -moz-transition: font-size 0.55s ease;
    transition: font-size 0.55s ease;
}
.imgTextOverlay:hover {
    font-size: 16pt;
}
    
#robertGallery, #heidiGallery  {
    width: 572px; height: 389px;
    margin-left: auto; margin-right: auto;
    border: 1px solid green;
}
    @media screen and (max-width: 500px) {
        #robertGallery, #heidiGallery {
            width: 80%; height: 300px;
        }
    }