div.homeHeader {
    position: relative;
    margin: 100px auto 100px auto;
    width: 300px;
    height: 300px;
    padding: 15px;
    box-shadow: 0px 0px 10px #fff;
    transition: box-shadow 0.5s ease;
    background:rgba(0,0,0,0.45);
}

    div.homeHeader:hover {
    	box-shadow: 0px 0px 25px #fff;
    }

    hr {
        height: 2px;
        background-color: #fff;
    }

div.homeHeader p {
    text-align: center;
    padding: 7px;
    color: #ffffff;
    font-size: 18pt;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
}

.URLName {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 36pt;
        text-shadow: 2px 2px 5px #ffffff;
        color: orange;
        -webkit-animation: color 25s infinite;
        animation: color 25s infinite;
    }
    
    @-webkit-keyframes color {
        0% {color: #FE0000; text-shadow: 2px 2px 5px #FE0000;}
        8% {color: #FF9C00; text-shadow: 2px 2px 5px #FF9C00;}
        17% {color: #F5FF00; text-shadow: 2px 2px 5px #F5FF00;}
        26% {color: #3CF10E; text-shadow: 2px 2px 5px #3CF10E;}
        34% {color: #01FFE5; text-shadow: 2px 2px 5px #01FFE5;}
        43% {color: #0024FF; text-shadow: 2px 2px 5px #0024FF;}
        51% {color: #C500FF; text-shadow: 2px 2px 5px #C500FF;}
        59% {color: #0024FF; text-shadow: 2px 2px 5px #0024FF;}
        68% {color: #01FFE5; text-shadow: 2px 2px 5px #01FFE5;}
        76% {color: #3CF10E; text-shadow: 2px 2px 5px #3CF10E;}
        84% {color: #F5FF00; text-shadow: 2px 2px 5px #F5FF00;}
        92% {color: #FF9C00; text-shadow: 2px 2px 5px #FF9C00;}
        100% {color: #FE0000; text-shadow: 2px 2px 5px #FE0000;}
    }
    @keyframes color {
        0% {color: #FE0000; text-shadow: 2px 2px 5px #FE0000;}
        8% {color: #FF9C00; text-shadow: 2px 2px 5px #FF9C00;}
        17% {color: #F5FF00; text-shadow: 2px 2px 5px #F5FF00;}
        26% {color: #3CF10E; text-shadow: 2px 2px 5px #3CF10E;}
        34% {color: #01FFE5; text-shadow: 2px 2px 5px #01FFE5;}
        43% {color: #0024FF; text-shadow: 2px 2px 5px #0024FF;}
        51% {color: #C500FF; text-shadow: 2px 2px 5px #C500FF;}
        59% {color: #0024FF; text-shadow: 2px 2px 5px #0024FF;}
        68% {color: #01FFE5; text-shadow: 2px 2px 5px #01FFE5;}
        76% {color: #3CF10E; text-shadow: 2px 2px 5px #3CF10E;}
        84% {color: #F5FF00; text-shadow: 2px 2px 5px #F5FF00;}
        92% {color: #FF9C00; text-shadow: 2px 2px 5px #FF9C00;}
        100% {color: #FE0000; text-shadow: 2px 2px 5px #FE0000;}
    }
.secret img {
    width: 50px; height: 56px;
    -webkit-animation: start 3s infinite ease-in-out;
    animation: start 3s infinite ease-in-out;
}
    @-webkit-keyframes start {
        0%{-webkit-transform:scale(1.0)rotate(0deg);}
        25%{-webkit-transform:scale(1.35)rotate(-15deg);}
        50%{-webkit-transform:scale(1.0)rotate(15deg);}
        75%{-webkit-transform:scale(1.25)rotate(-15deg);}
        100%{-webkit-transform:scale(1.0)rotate(0deg);} 
    }
    @keyframes start {
        0%{transform:scale(1.0)rotate(0deg);}
        25%{transform:scale(1.35)rotate(-15deg);}
        50%{transform:scale(1.0)rotate(15deg);}
        75%{transform:scale(1.25)rotate(-15deg);}
        100%{transform:scale(1.0)rotate(0deg);}
    }
.homeContentContainer {
    width: 100%;
    height: auto;
    background:rgb(33,178,166);
    position: relative;
    z-index: 25;
}
.content {
    font-family: 'Gloria Hallelujah', cursive;
    width: 300px;
    margin-left: auto; margin-right: auto;
    text-align: center;
    padding: 15px;
    font-size: 12pt;
    color: #FFC266;
}
    @media screen and(max-width: 575px) {
        div.homeHeader {
            padding: 14px;
            width: 150px;
            height: 150px;
        }
        div.homeHeader p {
            padding: 5px; 
            margin: 5px;
            font-size: 14pt;
        }

        .URLName {
            font-size: 30pt;
        }
    }