
.footnote {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 16pt;
}

.title {
    text-align: center;
    color: #ffffff; 
    font-size: 15pt;
    font-family: 'Vollkorn', serif;
    margin-top: 15px; 
    margin-bottom: 15px; 
    padding: 15px;
}

	#scroller {
		width: 100%;
		height: 115px;
    	background:rgba(40,40,40,.5);
    	margin: 0 auto;
		position: relative;
	}
	    #scroller .innerScrollArea {
	        overflow: hidden;
	        position: absolute;
	        left: 0;
	        right: 0;
	        top: 0;
	        bottom: 0;
	    }
	    #scroller ul {
	        padding: 0;
	        margin: 0;
	        position: relative;
	    }
	    #scroller li {
	        padding: 15px;
	        margin: 0;
	        list-style-type: none;
	        position: absolute;
		    text-align: center;

		    -webkit-transition: all 0.25s ease-in-out;
		    -moz-transition: all 0.25s ease-in-out;
		    transition: all 0.25s ease-in-out;
	    }
		    #scroller li:hover {
			    -webkit-transform:scale(1.1);
			    -moz-transform:scale(1.1);
			    transform:scale(1.1);
			    text-shadow: 2px 2px 5px #ffffff;
			    background:rgba(0,0,0,0.65);
			}

	    #scroller a,visited li {
	        color: #ffffff;
		    font-size: 14pt;
		    font-family: 'Montserrat', sans-serif;
	    }


.frameContainer {
    margin-left: auto; margin-right: auto;
    width: 90%; height: 750px;
}
#frame {
    margin: auto; 
    width: 100%; height: 100%;
    border: 0px;
    overflow-y: hidden;
}

@media screen and (max-width: 575px) {
	
	.footnote {
	    font-size: 13pt;
	}

	.title { 
	    font-size: 13pt;
	    margin-top: 10px; 
	    margin-bottom: 10px; 
	    padding: 10px;
	}

	#scroller {
		width: 100%;
		height: 100px;
	}
	    #scroller li {
	        padding: 8px;
	    }
		    #scroller li:hover {
			    -webkit-transform:scale(1.05);
			    -moz-transform:scale(1.05);
			    transform:scale(1.05);
			}

	    #scroller a,visited li {
		    font-size: 12pt;
	    }


	.frameContainer {
		height: 350px;
	}
}